<ion-header>
    <ion-toolbar no-border>
      <ion-title>TODO App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <h1>Login </h1>

   <button ion-button block icon-right color="danger" (click)="loginWithGoogle()" *ngIf="!userProfile">
        Login with Google
        <ion-icon name="logo-googleplus"></ion-icon>
   </button>

    <button ion-button block icon-right (click)="loginWithFacebook()">
      Login with
      <ion-icon name="logo-facebook"></ion-icon>
    </button>

   <ion-item *ngIf="!isLoggedIn">
      <ion-input type="text" placeholder="email" [(ngModel)]="loginUser.email" name="email"></ion-input>
   </ion-item>

  <ion-item *ngIf="!isLoggedIn">
    <ion-input type="password" placeholder="password" [(ngModel)]="loginUser.password" name="userPassword"></ion-input>
  </ion-item>

  <ion-item *ngIf="!isLoggedIn">
    <ion-buttons end>
      <button ion-button color="primary" (click)="goToRegisterPage()">Register</button>
      <button ion-button color="secondary" (click)="loginWithEmail()">Log In</button>
    </ion-buttons>
  </ion-item>

</ion-content>
