<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>774960942532-mgbb4u8cv30e4pr8rk91doi60m39pc6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774960942532-mgbb4u8cv30e4pr8rk91doi60m39pc6p</string>
	<key>API_KEY</key>
	<string>AIzaSyA9mQ9uV_FDsgLm9BsBMzOJJORgW3UUaMM</string>
	<key>GCM_SENDER_ID</key>
	<string>774960942532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TODOAPP.project</string>
	<key>PROJECT_ID</key>
	<string>firebase-todo-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-todo-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774960942532:ios:f31b0d2eca68aa44</string>
	<key>DATABASE_URL</key>
	<string>https://fir-todo-app-ios.firebaseio.com</string>
</dict>
</plist>