<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      TODO App (Tasks: {{tasks.length}})
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding text-center class="background-color">

 <h3 *ngIf="inProgress(tasks)">Incompleted Tasks: ({{inProgress(tasks)}})</h3>

   <div *ngFor="let task of tasks; let i = index">
     <ion-item *ngIf="!task.isCompleted;" text-wrap>
       <ion-checkbox item-left [(ngModel)]="task.isCompleted" (click)="updateTasks(i)"></ion-checkbox>
        <ion-input *ngIf="!task.isCompleted" [ngClass]="{'completed': task.isCompleted}" (keyup.enter)="updateTasks(i)"
                    value="{{task.description}}">
        </ion-input>
        <button ion-button clear="true" color="dark" item-right (click)="deleteTask(i)" title="Delete">
            <ion-icon name="close"></ion-icon>
        </button>
     </ion-item>
   </div>

   <h3 text-center *ngIf="isCompleted(tasks)">Completed Tasks: ({{isCompleted(tasks)}}) </h3>

   <div *ngFor="let task of tasks; let i = index">
     <ion-item *ngIf="task.isCompleted" text-wrap>
       <ion-checkbox item-left [(ngModel)]="task.isCompleted" (click)="updateTasks(i)"></ion-checkbox>
       <ion-input *ngIf="task.isCompleted" [ngClass]="{'completed': task.isCompleted}"
                   (keyup.enter)="updateTasks(i, task.description)" value="{{task.description}}" >
       </ion-input>
       <button ion-button clear="true" color="dark" item-right (click)="deleteTask(i)" title="Delete">
           <ion-icon name="close"></ion-icon>
       </button>
   </ion-item>
  </div>

  <ion-item #newTaskIonItem>
    <ion-label floating>Write a task</ion-label>
    <ion-input type="text" [(ngModel)]="newTask.description" (keyup.enter)="addTask()"></ion-input>
    <button item-right *ngIf="newTask.description"  ion-button round (click)="addTask()">
        <ion-icon name="add"></ion-icon>
    </button>
 </ion-item>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="25%">
   <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading tasks..."></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
