page-home {
  input {
    text-decoration: none;
  }

  #newTask {
    text-decoration: none;
  }

  .completed {
    text-decoration: line-through;
  }

  .notCompleted {
    text-decoration: none;
  }

}
